server:
    port: 8207
spring:
    application:
        name: service-task
    cloud:
        nacos:
            discovery:
                server-addr: 127.0.0.1:8848
    profiles:
        active: dev
    rabbitmq:
        host: localhost
        password: guest
        port: 5672
        username: guest
